In [0]:
%spark.pyspark
#LOAD_DT = "20150101"
# df1 = spark.read.parquet(f"/home/diginori/data/movie/hive/load_dt={LOAD_DT}")
df1 = spark.read.parquet(f"/home/diginori/data/movie/hive")
df1.createOrReplaceTempView("one_day")

### 일자별 독립영화 매출액

### 독립영화 여부 관객수

In [3]:
%sql
SELECT 
    multiMovieYn, load_dt,
    sum(salesAmt) salesAmt,
    sum(audiCnt) audiCnt,
    sum(showCnt) showCnt
FROM one_day 
WHERE multiMovieYn IS NOT NULL
GROUP BY multiMovieYn, load_dt

In [4]:
%sql
SELECT 
    multiMovieYn, load_dt,
    sum(salesAmt) salesAmt,
    sum(audiCnt) audiCnt,
    sum(showCnt) showCnt
FROM one_day 
WHERE multiMovieYn IS NOT NULL
GROUP BY multiMovieYn, load_dt

### 국내/해외영화  관객수, 매출금액

In [6]:
%sql
SELECT 
    repNationCd, load_dt,
    sum(salesAmt) salesAmt,
    sum(audiCnt) audiCnt,
    sum(showCnt) showCnt,
    count(distinct movieCd) movie_cnt
FROM one_day 
WHERE repNationCd IS NOT NULL
GROUP BY repNationCd, load_dt